
body {
    margin:auto;
    background-color: black;
    padding-left: 60px;
    padding-right: 60px;
}

.video-section {
    text-align: center;
}

a {
    text-align: center;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

a.hamborgari {
  font-size: 15px;
}

#about {
  max-width: 100%;
}



#inspo {
  text-align: center;
  font-size: 40px;
}

a:hover {
    opacity: 70%;
}



h1 {
    text-align: center;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}



.head {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;   
    text-align: center;
    
}

.hamborgari {

    column-count: 5;
}


/* .head-nafn:hover {
    opacity: 70%;
   } */


.main-midja {
    text-align: center;
    column-count: 3;
    column-gap: 16px;
}


.main-midja img {
    width: 90%;
    margin-top: 16px;
    margin-bottom: 16px;
}

.myndir-allt-hljodfaeri {
width: 150%;
display: inline-block;

}

.textabox{
  width: 80%;
}

pre {
  color: white;
}

.text-hljodfaeri {
    display: inline-block;
    width: 50%;
}

.inspo {
  text-align: center;
}

a.inspo {
  font-size: 100px;
}

.detail-mynd {
  margin-bottom: 1000px;
  width: 100%;
}


.main-midja .myndir {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
}



  @media (max-width: 1199px) {
    .main-midja {
      column-count: 3;
    }
  }
  
  @media (max-width: 991px) {
    .main-midja {
      column-count: 2;
    }
  }
  
  @media (max-width: 767px) {
    .main-midja {
      column-count: 1;
    }
  } 

















  /*

thanks to the designer of kingkrule.net webiste for inspiration on design!
I couldn't find a name, so feel free to send a message on git if you know this person
open source gang


 <div class="masonry">
<div class="mItem"><img src="photos/1.jpg"></div> 

.masonry img {
    width: 90%;
  }
  
  .masonry {
      column-count: 3;
      column-gap: 16px;
  
  }
  
  
 .masonry .mItem {
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
  
  }
  

    @media (max-width: 1199px) {
    .masonry {
      column-count: 3;
    }
  }
  
  @media (max-width: 991px) {
    .masonry {
      column-count: 2;
    }
  }
  
  @media (max-width: 767px) {
    .masonry {
      column-count: 1;
    }
  } 

  
  
  */