
body {
  margin:auto;
  background-color: black;
  padding-left: 60px;
  padding-right: 60px;
}

.video-section {
  text-align: center;
}

a {
  text-align: center;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

a:hover {
  opacity: 70%;
}



h1 {
  text-align: center;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.hamborgari {
  text-align: center;
  column-count: 5;
}

.head {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  
}

/* .head-nafn:hover {
  opacity: 70%;
 } */


.main-midja {
  text-align: center;
  column-count: 3;
  column-gap: 16px;
}


.main-midja img {
  width: 90%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.myndir-allt-hljodfaeri {
width: 150%;
display: inline-block;

}

.text-hljodfaeri {
  display: inline-block;
  width: 50%;
}



.main-midja .myndir {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
}



@media (max-width: 1199px) {
  .main-midja {
    column-count: 3;
  }
}

@media (max-width: 991px) {
  .main-midja {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .main-midja {
    column-count: 1;
  }
} 

















/*
<div class="masonry">
<div class="mItem"><img src="photos/1.jpg"></div> 




.masonry img {
  width: 90%;
}

.masonry {
    column-count: 3;
    column-gap: 16px;

}


.masonry .mItem {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;

}


  @media (max-width: 1199px) {
  .masonry {
    column-count: 3;
  }
}

@media (max-width: 991px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .masonry {
    column-count: 1;
  }
} 



*/